.state {
  margin: 10px;
  display: flex;

  justify-content: flex-end;
  align-items: center;
  height: 100%;
}

.counterTitle{
    font-weight: bold;
  font-size: large;
  color: rgb(233, 17, 17);
}