.tabnav {
  background-color: rgb(255, 255, 255);
  margin: 20px;
  font-weight: bold;
  font-size: large;
  border: 3px solid rgba(206, 24, 24, 0.85);
  border-radius: 5px;

}

.content {
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border: 2px solid crimson;
  border-radius: 5px;
  margin: 20px;
  padding: 15px;
}

.antMenu {
  padding: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif   -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  font-size: 20px;
  color: rgba(255, 0, 0, 0.85) !important;
  /* outline:auto; 
  box-shadow: 0 3px 6px -4px rgb(0 0 0 / 12%), 0 6px 16px 0 rgb(0 0 0 / 8%), 0 9px 28px 8px rgb(0 0 0 / 5%);
  transition: background 0.3s, width 0.3s cubic-bezier(0.2, 0, 0, 1) 0s; */
}

.antMenu:hover{
  color: rgba(99, 0, 0, 0.85) !important;
}













/* .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
 .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu:hover,
  .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-active,
   .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-active,
    .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-open,
     .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-open,
      .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected,
       .ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu-selected {
    color: #880000 !important;} */

